/* Global definitions */  
:root{
    --shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.2);

    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "Norse Bold";
    src: url("fonts/Norse-Bold.otf");
}


/* Basic structure of the page */
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-container{
    width: 30%;
    height: 100%;
    background-image: url("img/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.right-container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Left container */
.logo-img{
    width: 100px;
    height: 100px;
}

.logo-container{
    height: 130px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Norse Bold";
    font-size: 3rem;
}

/* Right container */
.text-container{
    padding-left: 40px;
    margin-top: 100px;
    width: 50%;
    font-size: 1.3rem;
}

.form-container{
    height: 32%;
    box-shadow: var(--shadow);
    padding-left: 40px;
}

.form-container p{
    font-size: 1.3rem;
}

.form{
    width: 55%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 15px 30px;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.button-container{
    padding-left: 40px;
}

.button-container p{
    color: #343434;
}

input{
    width: 100%;
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    font-size: 0.8rem;
}

input:focus{
    outline: none;
    border: 1px solid #2f7ab3;
    box-shadow: var(--shadow);
}

.error{
    border: 1px solid rgb(172, 9, 9);
}

.error-message{
    color: rgb(172, 9, 9);
    font-size: 0.1rem;
}

label{
    font-size: 0.8rem;
    color: #605f5f;
}

button{
    border: none;
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    padding: 10px;
    box-shadow: var(--shadow);
}

button:hover{
    cursor: pointer;
    background-color: #4e5f3f;
}

a{
    text-decoration: none;
    color: #596D48;
}


